apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "common.names.fullname" . }}-seeder-{{ now | date "20060102150405" }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
spec:
  ttlSecondsAfterFinished: 6000
  template:
    spec:
      {{- if .Values.podSecurityContext.enabled }}
      securityContext:
        {{ omit .Values.podSecurityContext "enabled" | toYaml | nindent 8 | trim }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{ toYaml . | nindent 8 | trim }}
      {{- end }}
      {{- if .Values.persistence.enabled }}
      volumes:
        - name: "data"
          persistentVolumeClaim:
            claimName: {{ if .Values.persistence.existingClaim }}{{ .Values.persistence.existingClaim }}{{- else }}{{ include "common.names.fullname" . }}{{- end }}
      {{- end }}
      initContainers:
        - name: check-db-ready
          image: "{{ .Values.initdb.image.registry }}/{{ .Values.initdb.image.repository }}:{{ .Values.initdb.image.tag }}"
          imagePullPolicy: {{ .Values.initdb.image.imagePullPolicy }}
          command: [
            'sh',
            '-c',
            'until pg_isready -h $DATABASE_HOST -p $DATABASE_PORT; do echo "waiting for database $DATABASE_HOST:$DATABASE_PORT"; sleep 2; done;'
          ]
          envFrom:
            - secretRef:
                name: {{ include "common.names.fullname" . }}
          resources:
            {{- toYaml .Values.initdb.resources | nindent 12 }}
      containers:
        - name: seeder
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}{{ if .Values.image.sha256 }}@sha256:{{ .Values.image.sha256 }}{{ else }}:{{ .Values.image.tag }}{{ end }}"
          imagePullPolicy: {{ .Values.image.imagePullPolicy }}
          args:
            - bash
            - /app/docker/prod/seeder
          envFrom:
            - secretRef:
                name: {{ include "common.names.fullname" . }}
          {{- if .Values.persistence.enabled }}
          volumeMounts:
            - name: "data"
              mountPath: "/var/openproject/assets"
          {{- end }}
          {{- if .Values.securityContext.enabled }}
          securityContext:
            {{- omit .Values.securityContext "enabled" | toYaml | nindent 12 }}
          {{- end }}
      restartPolicy: OnFailure
