apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "common.names.fullname" . }}-seeder-{{ .Release.Revision }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: seeder
  {{- if or .Values.seederJob.annotations .Values.commonAnnotations }}
  {{- $annotations := include "common.tplvalues.merge" ( dict "values" ( list .Values.seederJob.annotations .Values.commonAnnotations ) "context" . ) }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" $annotations "context" $) | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.cleanup.deletePodsOnSuccess }}
  ttlSecondsAfterFinished: {{ .Values.cleanup.deletePodsOnSuccessTimeout }}
  {{- end }}
  template:
    metadata:
      labels:
        {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 8 }}
        openproject/process: seeder
        app.kubernetes.io/component: seeder
      {{- with .Values.seederJob.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ include "common.names.fullname" . }}
      {{- include "openproject.imagePullSecrets" . | indent 6 }}
      {{- include "openproject.podSecurityContext" . | indent 6 }}
      {{- with .Values.affinity }}
      affinity:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 | trim }}
      {{- end }}
      {{- with (coalesce .Values.seeder.nodeSelector .Values.nodeSelector) }}
      nodeSelector:
        {{ toYaml . | nindent 8 | trim }}
      {{- end }}
      volumes:
        {{- include "openproject.tmpVolumeSpec" . | indent 8 }}
        {{- if .Values.persistence.enabled }}
        - name: "data"
          persistentVolumeClaim:
            claimName: {{ if .Values.persistence.existingClaim }}{{ .Values.persistence.existingClaim }}{{- else }}{{ include "common.names.fullname" . }}{{- end }}
        {{- end }}
        {{- include "openproject.extraVolumes" . | indent 8 }}
      initContainers:
        - name: check-db-ready
          image: "{{ .Values.dbInit.image.registry }}/{{ .Values.dbInit.image.repository }}:{{ .Values.dbInit.image.tag }}"
          imagePullPolicy: {{ .Values.dbInit.image.imagePullPolicy }}
          command: [
            'sh',
            '-c',
            'until pg_isready -h $DATABASE_HOST -p $DATABASE_PORT -U {{ .Values.postgresql.auth.username }}; do echo "waiting for database $DATABASE_HOST:$DATABASE_PORT"; sleep 2; done;'
          ]
          envFrom:
            {{- include "openproject.envFrom" . | nindent 12 }}
          env:
            {{- include "openproject.env" . | nindent 12 }}
          {{- if .Values.dbInit.resources }}
          resources:
            {{- toYaml .Values.dbInit.resources | nindent 12 }}
          {{- else if ne .Values.dbInit.resourcesPreset "none" }}
          resources:
            {{- include "common.resources.preset" (dict "type" .Values.dbInit.resourcesPreset) | nindent 12 }}
          {{- end }}
          volumeMounts:
            {{- include "openproject.tmpVolumeMounts" . | indent 12 }}
          {{- include "openproject.containerSecurityContext" . | indent 10 }}
      containers:
        - name: seeder
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}{{ if .Values.image.sha256 }}@sha256:{{ .Values.image.sha256 }}{{ else }}:{{ .Values.image.tag }}{{ end }}"
          imagePullPolicy: {{ .Values.image.imagePullPolicy }}
          args:
            - bash
            - /app/docker/prod/seeder
          envFrom:
            {{- include "openproject.envFrom" . | nindent 12 }}
          env:
            {{- include "openproject.env" . | nindent 12 }}
          {{- if .Values.seederJob.resources }}
          resources:
            {{- toYaml .Values.seederJob.resources | nindent 12 }}
          {{- else if ne .Values.seederJob.resourcesPreset "none" }}
          resources:
            {{- include "common.resources.preset" (dict "type" .Values.seederJob.resourcesPreset) | nindent 12 }}
          {{- end }}
          volumeMounts:
            {{- include "openproject.tmpVolumeMounts" . | indent 12 }}
            {{- if .Values.persistence.enabled }}
            - name: "data"
              mountPath: "/var/openproject/assets"
            {{- end }}
            {{- include "openproject.extraVolumeMounts" . | indent 12 }}
          {{- include "openproject.containerSecurityContext" . | indent 10 }}
      restartPolicy: OnFailure
