name: Lint and Test Charts

on:
  pull_request:
    paths-ignore:
      - '**/*.md'

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.10.0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Run chart-testing (lint) WITHOUT version check
        if: github.event.pull_request.title != 'Release Tracking'
        run: |
          ct lint \
            --target-branch ${{ github.event.repository.default_branch }} \
            --check-version-increment=false \
            --helm-lint-extra-args "--set image.tag=14.5.1"

      - name: Run chart-testing (lint) WITH version check
        if: github.event.pull_request.title == 'Release Tracking'
        run: |
          ct lint \
            --target-branch ${{ github.event.repository.default_branch }} |
            --check-version-increment=true \
            --helm-lint-extra-args "--set image.tag=14.5.1"

      - name: Create kind cluster
        uses: helm/kind-action@v1.5.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: |
          ct install \
            --target-branch ${{ github.event.repository.default_branch }} \
            --chart-repos bitnami=https://charts.bitnami.com/bitnami \
            --helm-extra-set-args "--set image.tag=14.5.1 --set environment.OPENPROJECT_HTTPS=false --set persistence.accessModes=[ReadWriteOnce]" \
            --helm-extra-args "--timeout 600s"
